


.vscode/
# Virtual environments
.venv/
env/
venv//

# conda 
.egg.info/
*.egg

# python compiled files
__pycache__/
*.pyc
*.pyo

# Local configuration file of paths and data
config.py

# Data files: 
*.csv
*.tsv
*.mgz
*.nii
*.nii.gz
tmp/
data/
results/

!*_metadata.json
